DASHBOARD_PORT=3000
VITE_API_BASE_URL=http://localhost:7071/api
VITE_APP_ENV=dev
VITE_AUTH_MODE=entra
VITE_ENTRA_CLIENT_ID=68564682-58e4-4b21-b2f4-75aa16288db6
VITE_ENTRA_TENANT_ID=215a6b8b-eafe-4ab7-a413-f9fdc36f3373
VITE_ENTRA_API_SCOPE=api://68564682-58e4-4b21-b2f4-75aa16288db6/access_as_user
